{% include 'header.html' %} 
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <style>
        .alert {
                padding: 12px;
                background-color: #f44336; /* Red */
                color: white;
                margin-bottom: 20px;
                width:fit-content;
                border-radius : 25px;
                
}
    </style>    <title>calculator</title> 
   
</head> 
<body> 
    <div> 
        <form method="post"> 
            {% csrf_token %} 
            {% if error %}
            <div  class="alert">
               please enter value
            </div>
            {% endif %}
            
            <label>value1</label> 
            <input type="text" name="num1" class="form-control"><br> 
            
             
            <button type="submit">even/odd</button>
            <br> 
            <input type="text"  value="{{output}}" class="form-control"> 
             
        </form> 
    </div> 
     
</body> 
</html> 
{% include 'footer.html' %}