{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url('/static/images/download.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block 'main' %}
    <p style="background-color: blueviolet;">India's largest online store - Great deals & prices everyday
        https://www.amazon.in/gateway/home
        AdExplore a vast selection of products. Easy Returns. Pay on Delivery. Buy Now! Browse & Discover Thousands of
         products. Read Customer Reviews and Find Best Sellers
        
        amazon.in has been visited by 1M+ users in the past month</p>
    {% endblock %}
</body>
</html>
