
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title> 
</head> 
<body style="background-color: greenyellow;"> 
    <form action="" method="get"><br><br> 
        Value 1 :<input type="text" name="num1" placeholder="enter value 1.."><br><br>
        Value 2 :<input type="text" name="num2" placeholder="enter value 2.."><br><br> 
        <input type="submit" value="calculate"> 
        output:<input type="text" value="{{output}}">
    </form> 
    <br> 
</body>    
</html> 
   
     
